/* blur pop up */
:host {
    --blur-pop-up-blur-color: rgba(0, 0, 0, 0.7);
    --blur-pop-up-width: 45vw;
    --blur-pop-up-bg-color: rgb(255, 255, 255);
    --blur-pop-up-text-color: black;
    --blur-pop-up-font-size: 5vh;
    --blur-pop-up-font-weight: 600;
    --blur-pop-up-icon-size: 15vh;
    --blur-pop-up-icon-color: rgb(3, 168, 244);
}

/* Portrait mode adjustments for blur pop up */
@media (orientation: portrait) {
    :host {
        --blur-pop-up-width: 65vw;
        --blur-pop-up-font-size: 5vw;
        --blur-pop-up-icon-size: 10vw;
    }
}

@keyframes growFromCenter {
    75% {
    transform: scale(0.5);
    opacity: 0;
    }
    100% {
    transform: scale(1);
    opacity: 1;
    }
}
.mdi--comment-processing-outline {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 22a1 1 0 0 1-1-1v-3H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6.1l-3.7 3.71c-.2.19-.45.29-.7.29zm1-6v3.08L13.08 16H20V4H4v12zm7-5h-2V9h2zm-4 0h-2V9h2zm-4 0H7V9h2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mdi--dots-horizontal {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16 12a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#blur_pop_up .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blur-pop-up-blur-color);
    backdrop-filter: blur(6px);
    z-index: 9999;
}
#blur_pop_up .pill {
    position: absolute;
    background-color: var(--blur-pop-up-bg-color);
    padding: 2vh 3vw;
    border-radius: 40vw;
    width: var(--blur-pop-up-width);
}

/* Portrait mode specific adjustments for pill padding */
@media (orientation: portrait) {
    #blur_pop_up .pill {
        padding: 3vw 4vw;
        border-radius: 20vw;
    }
}

#blur_pop_up #listening {
    opacity: 0;
    animation: growFromCenter 0.4s ease-in-out forwards;
}
#blur_pop_up #processing {
    opacity: 0;
    animation: growFromCenter 0.4s ease-in-out forwards;
}
#blur_pop_up #button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: var(--blur-pop-up-font-size);
    font-weight: var(--blur-pop-up-font-weight);
    color: var(--blur-pop-up-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--blur-pop-up-bg-color);
    width: 100%;
}
#blur_pop_up .icon {
    width: var(--blur-pop-up-icon-size);
    height: var(--blur-pop-up-icon-size);
    color: var(--blur-pop-up-icon-color);
    margin-right: 1.5vw;
}

/* flashing_bar */
:host {
    --flash-bar-height: 2vh;
    --flash-listening-pri: #f56a3f;
    --flash-listening-sec: #9e42b0;
    --flash-processing-pri: #033d58;
    --flash-processing-sec: #cfe2f3;
}

@keyframes pulse-listening {
    0%, 100% {
    background-color: var(--flash-listening-pri);
    }
    50% {
    background-color: var(--flash-listening-sec);
    }
}
@keyframes pulse-processing {
    0%, 100% {
    background-color: var(--flash-processing-pri);
    }
    50% {
    background-color: var(--flash-processing-sec);
    }
}

div#flashing_bar {
    justify-self: center;
    height: var(--flash-bar-height);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}
div#flashing_bar #listening {
    height: 100%;
    animation: pulse-listening 2s infinite;
}
div#flashing_bar #processing {
    height: 100%;
    animation: pulse-processing 2s infinite;
}

/* kitt bar */
:host {
  --kitt-line-height: 2vh;
  --kitt-bar-width: 25%;
  --kitt-color-listening: rgb(49, 186, 250);
  --kitt-color-listening-bg: rgb(0, 78, 129);
  --kitt-color-processing: rgb(193, 49, 250);
  --kitt-color-processing-bg: rgb(77, 0, 129);
}

@keyframes kitt-bar {
  0%, 100% {
    left: calc(var(--kitt-bar-width) / 2 * -1);
  }
  50% {
    left: calc(100% - calc(var(--kitt-bar-width) / 2) );
  }
}

#kitt_bar{
    position: absolute;
    width: 100%;
    height: var(--kitt-line-height);
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

#kitt_bar .bar-line:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#kitt_bar #listening.bar-line:after {
    background: var(--kitt-color-listening-bg);
}

#kitt_bar #processing.bar-line:after {
    background: var(--kitt-color-processing-bg);
}

#kitt_bar .highlight {
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(var(--kitt-bar-width) / 2 * -1); /* hidden start */
    width: var(--kitt-bar-width);
    z-index: 1;
}

#kitt_bar #listening-bar {
  background: linear-gradient(90deg, transparent 0%, var(--kitt-color-listening) 40%, var(--kitt-color-listening) 60%, transparent 100%);
  animation: kitt-bar 4s infinite ease-in-out alternate;
}

#kitt_bar #processing-bar {
  background: linear-gradient(90deg, transparent 0%, var(--kitt-color-processing) 40%, var(--kitt-color-processing) 60%, transparent 100%);
  animation: kitt-bar 2s infinite ease-in-out alternate;
}
