@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007FA8;
  --ifm-color-primary-dark: #0087CE;
  --ifm-color-primary-darker: #0066AA;
  --ifm-color-primary-darkest: ##002A65;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #03A9F4;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  font-family: 'Instrument Sans';
}

h1, h2, h3, h4, h5, h6 { font-family: Figtree;}

.badge {
  padding: .3rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}

.badgeGreen {
  background: green;
}

#buyMeACoffee {
  margin-left: 5px;
  height: 45px;
  vertical-align: middle;
}

.viewAssistLogo {
  max-width: 20vw;
  filter: invert(1);
}

[data-theme='dark'] .viewAssistLogo {
  max-width: 20vw;
  filter: invert(0);
}

.viewAssistLogo rect {
  fill: #FFFFFF;
}

.hidden-sidebar-item {
  display: none !important; 
}


[data-theme='dark'] nav img {
  filter: invert(100%) sepia(0%) saturate(7421%) hue-rotate(97deg) brightness(104%) contrast(100%);
}

.row--center {
  justify-content: center;
}