.avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    display: none; /* initially hidden */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatar #listening {
    display: contents;
}

.avatar #container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.avatar .avatar-gif {
  position: absolute;
  height: 100%;
}

#listening.active #avatar-speech-gif {
  /* 2-second animation that shows speech image then hides */
  animation: gif-fade-out 1.5s forwards;
}

/* Show listening image after a 2-second delay. */
#listening.active #avatar-listen-gif {
  transition: opacity 0s ease-in-out 1.5s;
  opacity: 1;
}

/* Define the animation for the GIF */
@keyframes gif-fade-out {
  0% { opacity: 1; }  /* Hold visible */
  99% { opacity: 1; } /* Keep fully visible till end of 2s */
  100% { opacity: 0; } /* Fade out */
}
